.about-container {
    
    min-height: 70vh; /* Minimum 100% de la hauteur de la vue */
    
  }
  



.accordion {
    margin-left: 10.5%; /* Marge à gauche pour centrer */
    margin-top: 20px;

}

/*****Media queries*******/

@media (max-width: 768px) {
    .accordion {
    margin-right: 5%;
      }
  }