@import '../styleComponents/colors'; //J'importe le fichier colors.scss pour appliquer la couleur rouge quand cela est nécessaire

.location-images {
  max-height: 400px; 
  object-fit: cover; 
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin-top: 3%;
  border-radius: 30px;
}

.title-images {
  color: $primary-color; // J'ajoute la variable pour ma couleur rouge en provenance du fichier colors.scss
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 40px;
  margin-bottom: 0;
}

.host {
  display: flex;
  align-items: center;
  margin-left: 70%;
  margin-bottom: 150px;
}

.city-location {
  color: $primary-color; // J'ajoute la variable pour ma couleur rouge en provenance du fichier colors.scss
  margin-left: 20px;
  font-family: Montserrat;
  margin-top: 10px;
  font-size: 20px;
}

.tags-housing {
  color: $primary-color;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}

.tag {
  margin-top: 15px;
  padding: 5px 15px;
  background-color: $primary-color; /* J'ajoute ma couleur rouge depuis colors.scss */
  color: $third-color;
  font-size: 14px;
  border-radius: 20px;
  margin: 0 5px;
  width: 7rem;
  text-align: center;
}

.star-full {
  justify-content: flex-end;
  color: $primary-color;
 
  font-size: xx-large;
  font-weight: bold;
}

.star-full, 
.star-grey {
  width: 30px;
  height: 30px;
}

.picture-person {
  width: 50px; 
  height: 50px; 
  margin-right: 10px; 
  border-radius: 50%; //La photo ainsi est arrondie
  margin-right: 15px;
  margin-bottom: 20px
}

.host-info {
  display: flex;
  align-items: center;
}

.name {
  font-size: 21px; 
  display: flex;
  flex-direction: column; 
  align-items: center; /* Centre horizontalement */
  text-align: center; 
  width: 70px;
  margin-right: 10px;
  color: $primary-color;
  text-align: right;
  margin-bottom: 35px;
  margin-top: 30px;
}

.stars {
  display: flex;
  align-self: flex-start; // Ajout de l'alignement vers le début sur la gauche
  margin-right: 15px;
}

.location-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column {
  width: 50%;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/******collapses****/
.collapses-flex {
  display: flex;
  justify-content: space-between; // Les collapses seront espacés également
  //width: 124rem; 
  margin: 0 auto; // Centre horizontalement
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 20px;
  width: 100%;
}


.collapse-description, //Permet que les équipements se placent sur le coté gaucghe du collapse
.collapse-equipment {
  width: 100%;
  
}

.collapse-container-location {
  flex-basis: calc(50% - 10px); // 50% moins un espace de 10px entre les collapses
  margin-bottom: 20px; /* Espace sous chaque collapse */
  flex-grow: 1;
  align-items: flex-start;
}

/******Media-queries******/

  @media (max-width: 1024px) {
    .collapse-container-location {
      margin-top: 0;
    }
    
    .location-details {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 10px;
    }

    .title-images {
      font-size: 20px;
    }
    
    .right-column {
      display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -50px;
    }

    .host-info {
      margin-left: 350px;
    }
    
    .stars {
      margin-right: 0; // Réinitialise la marge droite
      margin-top: 10px; // Ajoute un peu d'espace entre les étoiles et le reste du contenu
      margin-left: 20px;
      margin-top: 40px;
    }

    .collapses-flex {
      flex-direction: column;
      align-items: stretch; //Pour annuler align-items: flex-start
      width: auto; //Pour supprimer la propriété width: 124rem ou width 100%
    }
  }


/* Mobile */
@media (max-width: 767.98px) {

  .location-container {
  margin-left: 10px;
    margin-right: 10px;
  }

  .slider-image {
    width: 100%; // Prend toute la largeur du conteneur
    height: 280px; // Hauteur ajustée selon le design
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
}

  .title-images {
    font-size: 17px;
}

.city-location {
  font-size: 15px;
}

.host-info {
    margin-left: 55px;
  }

  .collapse-description {
    margin-bottom: 20px;
  }

  .collapses-flex {
   margin-top: 0; /* Enleve la marge au-dessus des collapses */
  }

  .collapse-container-location {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    flex-grow: 1;
    align-items: flex-start;
    margin-bottom: 0; /* Enleve la marge sous chaque collapse */
  }
  
 .collapse-equipment {
  margin-top: 0; /* Annule la marge supérieure */
  margin-bottom: 0; /* Supprime la marge inférieure */
}
}











