@import '../styleComponents/colors'; //J'importe le fichier colors.scss pour appliquer la couleur rouge quand cela est nécessaire

.location-images {
  max-height: 400px; /* Ajustez cette valeur selon vos besoins */
  object-fit: cover; /* Ajustez le comportement de l'image (cover, contain, etc.) */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin-top: 3%;
  border-radius: 30px;
}

.title-images {
  color: $primary-color; // J'ajoute la variable pour ma couleur rouge en provenance du fichier colors.scss
  margin-left: 20px;
  font-family: Montserrat;
}

.host {
  display: flex;
  align-items: center;
  margin-left: 70%;
  margin-bottom: 150px;
}



.city-location {
  color: $primary-color; // J'ajoute la variable pour ma couleur rouge en provenance du fichier colors.scss
  margin-left: 20px;
  font-family: Montserrat;
}

.tags-housing {
  color: $primary-color;
  display: flex;
  justify-content: start;
  margin-left: 15px;
}

.tag {
  margin-top: 15px;
  padding: 5px 15px;
  background-color: $primary-color; /* J'ajoute ma couleur rouge depuis colors.scss */
  color: $third-color;
  font-size: 14px;
  border-radius: 20px;
  margin: 0 5px;
  width: 7rem;
  text-align: center;
}

.star-full {
  justify-content: flex-end;
  color: $primary-color;
 
  font-size: xx-large;
  font-weight: bold;
}

.star-full, 
.star-grey {
  width: 30px;
  height: 30px;
}

.picture-person {
  width: 50px; // Ajustez la largeur de l'image selon vos besoins
  height: 50px; // Ajustez la hauteur de l'image selon vos besoins
  margin-right: 10px; // Ajustez la marge selon vos besoins
  border-radius: 50%; //La photo ainsi est arrondie
  margin-right: 15px;
  margin-bottom: 20px
}

.host-info {
  display: flex;
  align-items: center;
}

.name {
  font-size: 18px; // Ajustez la taille de la police selon vos besoins
  display: flex;
  flex-direction: column; 
  align-items: center; /* Centrer horizontalement */
  text-align: center; 
  width: 70px;
  margin-right: 10px;
  color: $primary-color;
  text-align: right;
  margin-bottom: 35px;
  margin-top: 20px;

}

.stars {
  display: flex;
  align-self: flex-start; // Ajout de l'alignement vers le début sur la gauche
  margin-right: 15px;
}


.location-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column {
  width: 50%;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}