@import '../styleComponents/colors'; //J'importe le fichier colors.scss pour appliquer la couleur rouge quand cela est nécessaire

.centered { /*je regroupe les éléments similaires*/
    display: flex;
    color: $primary-color; //J'ajoute la variable pour ma couleur rouge en provenance du fichier colors.scss
    justify-content: center; /* Centrage horizontal */
    align-items: center;  /* Centrage vertical */
    font-family: Montserrat;
}

.error {
    @extend .centered; /*Evite les répétitions de code*/
    font-size: 150px;
    color: $primary-color; //J'ajoute la variable pour ma couleur rouge en provenance du fichier colors.scss
    margin-top: 15vh;
    font-weight: 900;
}

.oups {
    @extend .centered;
    margin-top: 5vh;
    font-size: 28px;
    
}

.return-link {
    @extend .centered;
    margin-top: 10vh;
    margin-bottom: 100px;
}

/*****Media queries*******/

@media (max-width: 768px) {
    .oups {
        white-space: normal; /* Permet au texte de passer à la ligne si nécessaire */
        text-align: center; /* Centre le texte horizontalement */
      }
  }