@import './colors'; //J'importe le fichier colors.scss pour appliquer la couleur rouge quand cela est nécessaire

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales par ligne */
  grid-gap: 10px; /* Marge entre les éléments */
  margin: 45px auto 50px auto;
  padding: 0;
  position: relative;
  background-color: $second-color;
  border-radius: 25px;
  width: 98%;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  object-fit: cover;
}

.card-title {
  background-color: $primary-color;
  height: 50px;
  margin-top: 0;
  border-radius: 0 0 15px 15px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 90%;
  box-sizing: border-box;
}

.card-image {
  border-radius: 15px 15px 0 0;
  width: 90%;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}

/* Tablet */
@media (max-width: 1024px) {
  .cards-container {
    padding: 0;
    background-color: $third-color;
  }

  .card-link {
    width: 100%;
    height: 280px;
    margin-top: 20px;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent; 
    border-radius: 10px; 
    row-gap: 0px;
  }

  .card-link {
    width: 100%;
    height: auto; 
    margin-top: 10px; 
  }

  .card-title {
 width: 85%;
  }

  .card-image {
    border-radius: 10px 10px 0 0; 
    max-width: 100%; 
    height: 280px;
    width: 85%;
  }
}







