.slider {
    position: relative;
    width: 98%;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .image-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slider-image {
    min-width: 100%; // Utilisez min-width pour maintenir l'aspect ratio
    height: 400px;   // Ajustez la hauteur selon vos besoins
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    border-radius: 20px;
  }
  
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }
  
  .chevron-left {
    left: 20px;
  }
  
  .chevron-right {
    right: 20px;
  }

  .slideCount {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); //Pour le centrer au milieu méthode de transformation CSS qui déplace un élément horizontalement de 50% de sa propre largeur vers la gauche
    padding: 5px 10px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }
  
  