
.banner {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    //align-items: center; // Cette ligne alignera également verticalement l'image au milieu
    position: relative;

    .img-paysage {
        border-radius: 30px;
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        margin-top: 2%;
    }

    h1 {
        position: absolute;
        color: white;
        font-weight: 300;
        top: 42%; /* Je place le titre au milieu verticalement */
        left: 50%; /*Je Place le titre au milieu horizontalement */
        transform: translate(-50%, -50%); /* J'Ajuste la position pour centrer parfaitement */
        font-size: xxx-large;
        }

}