.cards-container {
    background-color: #f0f0f0; /* Couleur de fond grise */
  padding: 20px; /* Espacement autour des cartes pour améliorer la lisibilité */
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.title-carts {
    background: linear-gradient(to bottom, #ff6060, rgba(255, 96, 96, 0.5));
    min-height: 20vh;
    border-radius: 0.5rem;
    display: flex;
    margin-top: 5%;
   
}