.footer {
    background-color: black;
    height: 8rem;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column;
    width: 100%;
    margin-top: auto; /* Ajuste la marge supérieure */
    bottom: 0;
    left: 0;
    position: absolute;
   

    .footer-logo {
        color: white;
        width: 100px;
    }

    .copyright {
        color: white;
        font-family: Montserrat;
    }

}