footer {
    background-color: black;
    height: 8rem;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column;
    width: 100%;
    position: absolute; //Permet de positionner le footer toujours en bas.
    bottom: 0;
    left: 0;

    .footer-logo {
        color: white;
        width: 100px;
    }

    .copyright {
        color: white;
        font-family: Montserrat;
    }

}