footer {
    background-color: black;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column;
    width: 100%;
    //bottom: 0;
    //left: 0;
    position: absolute;
    height: 239px;
    margin-top: 25px;
    padding-top: 40px;
    //width: 100vw;
   
   

    .footer-logo {
        color: white;
        width: 100px;
        margin-top: 20px;
    }

   p {
    margin-top: 50px;
   }

    .copyright {
        color: white;
        font-family: Montserrat;
        font-size: 24px;
    }

}

/***Media queries***/
@media (max-width: 768px) {
    footer {
    height: 345px;
      }
  }
