
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');

body {
   font-family: 'Montserrat', sans-serif;
   height: 100%;
}

html, body {
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

