/** {
  box-sizing: border-box;
}*/


body {
   font-family: 'Roboto', sans-serif;
   height: 100%;
}

html, body {
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

/*/* Tablet */
/*@media (max-width: 1024px) {
body {
  margin: 5px 50px;
}
}

/*Mobile*/
/*@media (max-width: 767.98px) {
  body {
    margin: 2px 20px;
  }
}*/